.scroll-container {
    position: relative;
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
  
    /* Маска для создания градиентов по бокам */
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), black 10%, black 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), black 10%, black 90%, rgba(0, 0, 0, 0));
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  
    /* Поддержка для перекрывающегося содержимого */
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
  }